.container {
  width: 100%;
  padding: 10px;
}

.image-logo {
  background: url("./images/logo_startups.png") fixed;
  width: 100px;
  height: 100px;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
